html{font-size:16px}
body{font-size:1rem}
html,body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4{font-weight:normal;font-family:"Roboto","Helvetica","Arial",sans-serif}
  h1,h2,h3,.h1,.h2,.h3{margin:2rem 0 .75rem}
.navbar-toggle{float:left}
.max-width600px{max-width:700px;margin:0 auto}
.card{display:block;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.14);-webkit-box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.14);box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.14);border-radius: 6px;color: rgba(0,0,0, 0.87);}
article{margin:0 3rem}
.title{color:#fff;position:relative;z-index:2}
  .title h1{font-size:4.8em;font-weight:600}
.header {
    height: 120vh;
    min-height: 300px;
    background-position: center center;
    background-size: cover;
}
.header-filter {
    position: relative;
}
.header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);
}
.cover-bg{background-image:url("http://cdn.natgeotv.com.au/shows/thumbnails/cosmos-a-spacetime-odyssey.jpg");
position:absolute;z-index:0;width:100%}

@media (max-width: 768px) {
  h1,h2,h3,.h1,.h2,.h3{margin:.75rem 0 .5rem}
  article{margin:0 1rem}
  .cover-bg{position:relative;z-index:2}
}
