html,body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,
  .card-title,.footer-big h4,.footer-big h5,.footer-brand,.info-title,.media .media-heading,.title /* reset material-kit default */
  {font-weight:normal;font-size:1em;font-family:"Roboto","Helvetica","Arial",sans-serif}
body{background-color:#fcfcfc;overflow-x:hidden}

h1,.h1{font-size:1.8em}
h2,.h2{font-size:1.5em}
h3,.h3{font-size:1.3em}
h4,.h4{font-size:1.2em}
h5,.h5{font-size:1.1em}
h6,.h6{font-size:1em}
.main{background:transparent;margin-top:12px}
  .main h1,.main .h1,.main h2,.main .h2{color:#444;font-weight:bold}
  .main section{display:inline-block;width:100%}
  .main .card-content{padding:1em 3rem}
  .main .nav-tabs-wrapper label{background-color:#fff;border-radius:3px;color:#4184f3;display:inline;font-weight:600;padding:2px 6px;position:relative;top:-2px}
  #titteriframe{width:100%}
.main_page_content{margin-bottom:12px}
.card-nav-tabs .header{margin-top:-36px}
a,a:hover{color:#337ab7}
  a:hover{text-decoration:underline}
  .card.ticket{background-color:#fff;-webkit-transition:all .5s}
  .card.ticket:hover{border-color:#337ab7;-webkit-transition:all .5s}
.coming-soon,.coming-soon:hover{color:#FF4136!important}
.card{margin:0 0 30px!important}
.profile{margin:3px 100px;position:absolute;right:0;z-index:120;display:none} /* temp display:none */
.dropdown-toggle .profile{background:rgba(255,255,255,0.75)}
.page-header .navbar,.page-header .title-text,.page-header .card .carousel-indicators ol,.main{max-width:800px}
.carousel-indicators{left:0;width:100%;padding-left:0;margin-left:0;position:absolute}
.cover{max-width:800px;position:absolute;z-index:2}
  .cover .btn-lg{font-size:.9em;font-weight:500}
  .cover .cover-left{float:left}
.carousel .cover-bg{-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover!important;transform:translate3d(0px, 0px, 0px);min-height:100vh} /* background-size:cover!important needs to fix IE */
.cover .navbar{clear:both}
  .cover .navbar .navbar-nav>li>a,.cover .author{color:rgba(255,255,255,0.75)}
  .cover .navbar .navbar-nav>li>a,.main .nav>li>a{font-size:1em;font-weight:500;margin:0 12px 0 0;padding:12px 24px;-webkit-transition:all .5s}
    .cover .navbar .navbar-nav>li>a:hover,.cover .author:hover{color:#fff;border-radius:0;text-decoration:none;-webkit-transition:all .5s}
    .cover .navbar .navbar-nav>li>a.active{background-color:rgba(255,255,255,0.2);color:#fff;border-bottom:2px solid transparent;cursor:default;-webkit-transition:all .5s}

.cover .card .card-image{height:100px}
  .cover .card .card-image img{width:auto;height:auto;max-height:100px;max-width:200px}
.navbar-toggle{float:left}
.main .card .card-content{padding:18px 24px 24px}
.main .card,.main .card .card-image{border:2px solid #f2f2f2;border-radius:4px;box-shadow:none}
.main .card .card-image{margin:0}
.main .card .card-image img{border-radius:0;box-shadow:none}
.main .card img{display:block;margin:auto;width:auto!important;max-width:100%}
.main .card.ticket{margin-bottom:0}
.main .card.ticket h2{margin-top:-8px}
.main .card h5{font-size:1em}
.page-header{height:auto;min-height:100vh}
.tab-content h1{margin-top:0}
.title{padding:200px 0 150px;position:relative;z-index:2}
  .title h1,.title h2{color:#eee}
  .title h1{font-size:2em;font-weight:600}
  .title h2{font-size:1.2em;font-weight:600;margin:10px 0 20px;text-transform:uppercase}
  .title h3{font-size:1em}
  .title-block{margin:2em 3em}
    .title-text{text-align:left}
    .title-text h3{color:#ccc;font-weight:400;margin:0 0 1.1rem 0}
.header-filter{position:relative}
  .header-filter::before{background-color:rgba(0,0,0,.75)}
  .header-filter:after{background:url('https://default.wrioos.com/img/bg_tile.png');position:absolute;z-index:1;width:100%;height:100%;display:block;left:0;top:0;content:""}
.header{}
  .header .nav-tabs a{font-size:1em}
  .header .nav-tabs>li.open>a{color:#999!important}
    .header .nav-tabs>li.active>a,.header .nav-tabs>li>a:focus,.header .nav-tabs>li>a:hover{color:#fff!important}
.breadcrumb{clear:both;margin-bottom:8px}
.breadcrumb,.well{}
.well{border:none;color:#777;padding:15px 20px;margin-bottom:8px;-webkit-box-shadow:none;box-shadow:none}
  .well h4{margin:0 0 12px}
a.btn .glyphicon{padding-right:8px}
.btn-group-sm .btn,.btn-group-sm .navbar .navbar-nav>li>a.btn,.btn.btn-sm,.navbar .navbar-nav>li>a.btn.btn-sm{padding:15px 20px}
.glyphicon-new-window{margin-left:4px}
.icon-success{color:#2cbe4e}
.center{text-align:center}
#centerWrp>img{width:auto;height:auto}
a .media{height:200px;margin-top:2rem!important}
  a .media h2{color:#222;margin-top:12px}
  a .media p{color:#222;margin:12px 0}
  a .card .img{background-size:200px!important;float:right;margin-left:15px;width:200px;height:200px;background-repeat:no-repeat!important;background-position:center!important;
    -webkit-background-size:cover!important;-moz-background-size:cover!important;-o-background-size:cover!important;background-size:cover!important}
  a .card-text{height:200px;overflow:hidden;text-overflow:ellipsis}
  .card-text .arrow-more{color:#eee;float:right;padding-right:200px;position:relative;text-align:center;top:-25px;width:100%;z-index:2}
  .card-text .gradient{margin-right:200px;position:relative;top:200px}
  .card-text .gradient:after{position:absolute;bottom:0;height:100px;width:100%;content:"";background:linear-gradient(to top,rgba(255,255,255, 1) 20%,rgba(255,255,255, 0) 80%)}
  .card .footer .stats .material-icons{top:-1px}
.card-carousel{border:none}
  .carousel h1{margin-top:0}
  .carousel .carousel-control{height:initial;z-index:20}
  .carousel .carousel-caption{padding:0;top:0;position:static}
    .carousel .carousel-caption .material-icons{top:0}
  .carousel .features{list-style-type:none;padding:0}
  .carousel .carousel-inner a{color:#f0ad4e}

/* callout */
.callout{background-color:#ecf3fa;margin:4px 0 12px;padding:8px 16px;border-left:3px solid #d0e2f2;border-radius:0;color:#333}
.callout button.close{top:2px;right:-3px}
.callout a{font-weight:500}
.callout h5{color:#428bca;margin:8px 0}
.callout h6{color:#b6c7d6;margin:8px 0}
.success{background-color:#f1fbed;border-color:#d6e9c6}
    .success h5{color:#3c763d}
.warning{background-color:#fcf8f2;border-color:#fbead3}
    .warning h5,.warning a{color:#f0ad4e}
.danger{background-color:#fbf5f5;border-color:#eedbdb}
    .danger h5,.danger a{color:#a94442}
figcaption.callout{margin:4px 0}
.figure-details{background-color:#f8f8f8;border-color:#e3e3e3}
    .figure-details h5,.figure-details a{color:#757575}
/* END callout */

.dashboard,.right-nav{margin:0.5em 1.2em;position:fixed;right:0;z-index:100}
.right-nav a{display:block;text-shadow:0 0 8px rgba(255,255,255,0);-webkit-transition:all .5s}
  .right-nav a:active,.right-nav a:focus,.right-nav a:hover{text-shadow:0 0 8px rgba(255,255,255,.3);color:#356ad9!important;-webkit-transition:all .5s}
  .dp_big{font-size:2em!important;width:auto!important;height:auto}
.invert-icon{-moz-transform:scaleX(-1);-o-transform:scaleX(-1);-webkit-transform:scaleX(-1);transform:scaleX(-1);filter:FlipH;-ms-filter:"FlipH"}
.invert-icon-v{-moz-transform:scaleY(-1);-o-transform:scaleY(-1);-webkit-transform:scaleY(-1);transform:scaleY(-1);filter:FlipV;-ms-filter:"FlipV"}
.search{margin:12px 0}

.card-nav-tabs{margin-top:-45px}
.card .header-primary{box-shadow:0 2px 2px 0 rgba(0,0,0,.2),0 2px 2px -2px rgba(244,67,54,.6)}
.card .content-primary,.card .header-primary{background:linear-gradient(60deg,#4184f3,#3468d7)}
.btn.btn-primary,.navbar .navbar-nav>li>a.btn.btn-primary{background-color:#4184f3}
  .btn-primary.active,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active,.btn.btn-primary:active:focus,.btn.btn-primary:active:hover,.btn.btn-primary:focus,.btn.btn-primary:hover
  {background-color:#3468d7}
  .btn-default.active,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active,.btn.btn-default:active:focus,.btn.btn-default:active:hover,.btn.btn-default:focus,.btn.btn-default:hover
  {background-color:#757575}
  .btn-success.active,.btn-success.active:focus,.btn-success.active:hover,.btn-success:active,.btn.btn-success:active:focus,.btn.btn-success:active:hover,.btn.btn-success:focus,.btn.btn-success:hover
  {background-color:#3c763d}
  .btn-danger.active,.btn-danger.active:focus,.btn-danger.active:hover,.btn-danger:active,.btn.btn-danger:active:focus,.btn.btn-danger:active:hover,.btn.btn-danger:focus,.btn.btn-danger:hover
  {background-color:#a94442}
.article-margin-bottom{margin-bottom:2em}
.contents{margin:-5px 5px;text-align:right}
  .contents h1{color:#ccc;font-size:1.6em;margin: 0 0 33px 0;text-transform:uppercase}
  .contents ul{font-size:1.2em;list-style:none;margin:4px 0}
    .contents a{color:#ccc;cursor:pointer;display:block;padding:15px 0;-webkit-transition:all .5s}
      .contents a:hover{color:#222;text-decoration:none;-webkit-transition:all .5s}
    .contents .to-top{margin:28px 0}
h1[id],h2[id]{position:relative;top:-80px;visibility:hidden} /* we need it for the Content's #anchors */
.navbar-fixed-top{position:fixed}
#cd-vertical-nav{display:none!important;/*display:block;*/right:36px!important} /* later: we need to restore display and fix position for mobile */
#sidebar{display:none}
div#sidebar.navbar-fixed-top{height:100vh;overflow-y:scroll}
.tabbar-fixed-top{left:inherit;right:inherit;top:30px;position:fixed;z-index:1000}
.dropdown-menu li a:active,.dropdown-menu li a:focus,.dropdown-menu li a:hover{background-color:#4184f3}
.dropdown-menu li>a:focus,.dropdown-menu li>a:hover{box-shadow:none}
  .dropdown-menu li>a .dp_small{font-size:20px;position:relative;top:-2px}
  .with_text{margin-right:4px}
/* .social{margin:24px 0} */

/* Reset material-kit.min.css */
.card .footer{margin-top:0}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{color:#999!important}
.btn.btn-danger:active,.btn.btn-danger:focus,.btn.btn-danger:hover,.btn.btn-primary:active,.btn.btn-primary:focus,.btn.btn-primary:hover,.navbar .navbar-nav>li>a.btn.btn-primary:active,.navbar .navbar-nav>li>a.btn.btn-primary:focus,.navbar .navbar-nav>li>a.btn.btn-primary:hover,
.btn.btn-success:active,.btn.btn-success:focus,.btn.btn-success:hover,.navbar .navbar-nav>li>a.btn.btn-success:active,.navbar .navbar-nav>li>a.btn.btn-success:focus,.navbar .navbar-nav>li>a.btn.btn-success:hover,
.btn.btn-default:active,.btn.btn-default:focus,.btn.btn-default:hover,.btn:active,.btn:focus,.btn:hover,.navbar .navbar-nav>li>a.btn.btn-default:active,.navbar .navbar-nav>li>a.btn.btn-default:focus,
.navbar .navbar-nav>li>a.btn.btn-default:hover,.navbar .navbar-nav>li>a.btn:active,.navbar .navbar-nav>li>a.btn:focus,.navbar .navbar-nav>li>a.btn:hover{box-shadow:none}
.btn-group-sm .btn, .btn-group-sm .navbar .navbar-nav>li>a.btn, .btn.btn-sm, .navbar .navbar-nav>li>a.btn.btn-sm{font-size:12px}
.btn{padding:13px 30px 11px}
@media (max-width: 991px) {
  .btn.btn-simple,.navbar .navbar-nav>li>a.btn.btn-simple{padding:18px 36px}
}
.alert-primary{color:#004085;background-color:#cce5ff;border-color:#b8daff}
.table>thead>tr>th{font-size:1em;font-weight:bold}
/* END */

/* Core */
.core .form-group label.control-label{font-size:14px;color:#999;margin:12px 0 0;text-align:right}
.toggle-field{margin:5px 0 0}
  .toggle-field .toggle-label{float:right;margin:2px 0 0}
.narrow-dropdown>button{padding:12px}
/* END */

@media (min-width: 1024px) {
  .cover{top:.5rem}
  #cd-vertical-nav{display:none !important}
  #sidebar{display:block !important}
}
@media (max-width: 768px) {
  h1,h2,h3,.h1,.h2,.h3{font-size:1.3em;margin:.75rem 0 .5rem}
  article{margin:0 1rem}
  .cover{padding-top:20px;right:0}
    .cover .navbar-nav a{text-align:right}
  a .card .img{margin:0 0 12px;width:100%;
    -webkit-background-size:auto!important;-moz-background-size:auto!important;-o-background-size:auto!important;background-size:auto!important}
  a .card-text{height:400px;text-align:center}
    .card-text .arrow-more{display:none}
    .card-text .gradient{position:inherit}
    .card-text p{margin:0}
  .card-text p,.paragraph{font-size:1em}
  .main .card .card-content{padding:24px;background-origin:content-box}
  .main .card .nav-tabs a i{display:inline-block!important}
  .main .card .nav-tabs>li .material-icons{margin:0}
  .main .card .nav-tabs-wrapper label{top:0}
  .title h1{font-size:2em}
  .title h2{font-size:1em}
}

.loading{width:64px;height:64px}

/* Twitter */
.timeline-Tweet:hover{background-color:transparent!important}
/* Dashboard */
.dashboard-sensor-id{width:6ch;white-space:nowrap;overflow:hidden;text-overflow:ellipsis} 
.dashboard-modal-div{padding:28px}

/* Product profile */
.product_img{margin-bottom:8px}

/* Feed */
.feedPage{margin-top:32px}
.feed-chart-main-div{height:350px;width:100%}
.feed-dropdown{display:inline-block;position:relative;z-index:100}
.feed-dropdown-button{display:inline-block;padding:10px 30px 10px 20px;cursor:pointer;white-space:nowrap}
.feed-dropdown-button:after{content:'';position:absolute;top:50%;right:15px;transform:translateY(-50%);width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid black}
.feed-dropdown-button:hover{background-color:#eee}
.feed-dropdown-input{display:none}
.feed-dropdown-menu{position:absolute;top:100%;border:1px solid #ccc;border-radius:4px;padding:0;margin:2px 0 0 0;box-shadow:0 0 6px 0 rgba(0,0,0,0.1);background-color:#ffffff;list-style-type:none}
.feed-dropdown-input+.feed-dropdown-menu{display:none} 
.feed-dropdown-input:checked+.feed-dropdown-menu{display:block} 
.feed-dropdown-menu li{padding:10px 20px;cursor:pointer;white-space:nowrap}
.feed-dropdown-menu li:hover{background-color:#f6f6f6}
.feed-dropdown-menu li a{display:block;margin:-10px -20px;padding:10px 20px}
.feed-dropdown-menu li.divider{padding:0;border-bottom:1px solid #ccc}
.recharts-responsive-container{margin-bottom:28px}

.breadcrumb.chart_timeframe{background-color:transparent;clear:initial}
.breadcrumb.chart_timeframe>li>a{font-size:0.85em}
.breadcrumb.chart_timeframe>li.disabled>a{cursor:default;color:#aaa}
  .breadcrumb.chart_timeframe>li.disabled>a:hover{text-decoration:none}
.breadcrumb.chart_timeframe>li+li:before{content:"\b7\a0";font-weight:bold}

