<article itemscope itemtype="http://schema.org/Article">
    <header class="col-xs-12">
        <h1><span itemprop="name">The story of the cat</span></h1>
            <meta itemprop="datePublished" content="2014-05-08T19:30">
            <meta itemprop="dateModified" content="2014-07-17T9:55">
    </header>
    <div class="paragraph" data-ng-repeat="c in content">
        <div class="col-xs-12 col-md-6">
            <p>{{c}}</p>
        </div>
        <div class="col-xs-12 col-md-6">
            <aside>
                <span class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="right" title="Not yet available"></span>
            </aside>
        </div>
    </div>              
</article>